:root {
  --color-offwhite: #FBFCFF;
  --color-light-grey: #EBECF0;
  --color-cricket-red: #B52424;
  --color-nyc-blue: #003884;
  --color-nyc-blue-dark: #011F46;
  --img-cricket-ball: url("https://images.unsplash.com/photo-1531415074968-036ba1b575da?q=80&w=2934&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  --img-cricket-player: url("https://images.unsplash.com/photo-1595210382266-2d0077c1f541?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-light-grey);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2, #footer-h2 {
  font-family: "Staatliches", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
}

h1 {
  font-size: 36px;
  color: var(--color-offwhite);
  margin-bottom: 16px;
}

h2, #footer-h2 {
  font-size: 24px;
}

p, li {
  color: var(--color-nyc-blue-dark);
  font-size: 16px;
}

/* HEADER ---------- */
header {
  background-image: var(--img-cricket-ball);
  background-size: cover;
  background-position: center;
  padding: 80px 32px;
  display: flex;
  flex-direction: column;
  position: relative;
}

h1, header p {
  z-index: 4;
}

header p {
  font-size: 16px;
  max-width: 300px;
  color: var(--color-offwhite);
}

.screen, #gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.screen {
  background-color: var(--color-nyc-blue);
  mix-blend-mode: screen;
  opacity: 0.5;
  z-index: 1;
}

#gradient {
  background: rgb(1,31,70);
  background: rgba(1,31,70, 0.7);
  z-index: 2;
}

/* ABOUT */

#about {
  margin: 48px 0;
  display: grid;
  grid-template-columns: autofit;
}

#about h2 {
  color: var(--color-nyc-blue);
  margin-left: 32px;
  margin-bottom: 32px;
}

#about p {
  max-width: 800px;
  margin: 0 32px;
}

/* SQUARES */

#square-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  color: var(--color-offwhite);
  /* background-color: var(--color-cricket-red); */
}

#square-container section {
  padding: 32px;
  width: 100%;
  flex-wrap: wrap;
}

#square-container p {
  color: var(--color-offwhite);
  margin-top: 32px;
}

#join, #location {
  background-color: var(--color-cricket-red);
}

#fees {
  background-color: var(--color-nyc-blue);
}

/* SCHEDULE */

#schedule-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#schedule-container > * {
  width: 100%;
}

#img {
  position: relative;
  background-image: var(--img-cricket-player);
  background-size: cover;
  background-position: bottom left;
  min-height: 280px;
}

#schedule {
  padding: 48px 32px;
}

#schedule h2 {
  color: var(--color-nyc-blue);
  margin-bottom: 32px;
}

#schedule ul {
  padding-left: 24px;
  margin-top: 8px;
}

/* FOOTER */

footer {
  background-color: var(--color-nyc-blue);
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 32px;
}

#footer-h2 {
  margin-bottom: 32px;
}

footer p {
  color: var(--color-offwhite);
}

footer > p:last-of-type {
  max-width: 280px;
  text-align: left;
}

@media (min-width: 600px) {
  header {
    padding: 120px 32px;
  }

  h1 {
    font-size: 60px;
  }

  #gradient {
    background: linear-gradient(90deg, rgba(1,31,70,0.8) 20%, rgba(0,56,132,0) 100%);
  }

  #about {
    grid-template-columns: 1fr 2fr;
  }

  #about h2 {
    margin-bottom: 0;
  }

  #about p {
    margin-right: 64px;
  }

  #square-container section {
    padding: 48px 32px;
    flex-basis: 50%;
    /* flex: 1; */
  }

  #square-container p {
    margin-top: 48px;
  }

  /* #location {
    background-color: var(--color-nyc-blue);
  } */

  #schedule-container > * {
    width: 50%;
  }

  #img {
    min-height: 356px;
  }

  #schedule {
    padding: 32px;
  }
}

@media (min-width: 900px){
  h1 {
    font-size: 80px;
  }

  h2, #footer-h2 {
    font-size: 36px;
  }

  header {
    padding: 180px 48px;
  }

  header p {
    font-size: 20px;
    max-width: 380px;
  }

  #about {
    grid-template-columns: 1fr 2fr;
    margin: 64px 0;
  }

  #about h2 {
    margin-left: 48px;
  }

  #about p {
    margin-right: 48px;
  }

  #square-container section {
    padding: 48px;
    flex: 1;
  }

  #square-container p {
    margin-top: 48px;
  }

  #square-container p, #square-container h2 {
    /* max-width: none; */
  }

  #img {
    min-height: 353px;
  }

  #schedule {
    padding: 48px;
  }

  #schedule h2 {
    margin-bottom: 48px;
  }

  footer {
    padding: 48px;
  }
}

@media (min-width: 1200px) {
  header {
    padding: 180px 64px;
  }

  /* p, li {
    font-size: 20px;
  } */

  #about {
    margin: 64px 0;
  }

  #about h2 {
    margin-left: 64px;
  }

  #about p {
    margin-right: 64px;
  }

  #square-container section {
    flex: 1;
    padding: 64px;
  }

  #location {
    background-color: var(--color-cricket-red);
  }

  #schedule {
    padding: 64px;
  }

  footer {
    padding: 64px;
  }
}